@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
.container {
  display: grid;
  position: relative;
  margin: 0 auto;
  padding: 0;
  color: black; }
  @media only screen and (max-width: 767px) {
    .container {
      padding: 0 1em; } }
  @media (min-width: 768px) {
    .container {
      width: 750px;
      grid-template-columns: 80% 20%; } }
  @media only screen and (min-width: 992px) {
    .container {
      width: 970px; } }
  @media only screen and (min-width: 1200px) {
    .container {
      width: 1170px; } }
  .container .content {
    display: grid; }
    .container .content .section {
      grid-template-rows: auto; }

body {
  margin: 0; }
  body h1, body h2 {
    font-family: "Utopia", "Garamond", serif;
    font-size: 2.1rem;
    color: #DA3D7C;
    margin: 0 0 2px; }
    @media (min-width: 768px) {
      body h1, body h2 {
        font-size: 3.5rem; } }
  body h3 {
    font-family: "Roboto Condensed", "Helvetica", "sans-serif";
    font-weight: lighter;
    font-style: italic;
    letter-spacing: 2px;
    margin: 0; }
    @media (min-width: 768px) {
      body h3 {
        font-size: 2.0rem; } }
  body h4 {
    font-family: "Utopia", "Garamond", serif;
    font-size: 1.5rem;
    color: #F25DA0;
    margin: 0 0 40px; }
    @media (min-width: 768px) {
      body h4 {
        font-size: 3.0rem; } }
  body .fa-bars:before {
    font-size: 2rem; }
  body .content .section {
    text-align: center;
    margin: 0 0 40px; }
    body .content .section .intro-content {
      margin-top: 80px; }
      body .content .section .intro-content .headshot {
        width: 155px;
        height: 155px; }
    body .content .section .about-content .headshot {
      width: 155px;
      height: 200px; }
    body .content .section .about-content p.tag {
      font-family: "Roboto Condensed", "Helvetica", "sans-serif";
      font-size: 1.2rem;
      font-weight: lighter;
      letter-spacing: 2px;
      margin: 0; }
    body .content .section .writing-content h3 {
      color: #DA3D7C;
      font-size: 1.8rem; }
    body .content .section .writing-content .work {
      margin-bottom: 60px; }
      body .content .section .writing-content .work img {
        width: 155px;
        height: 225px;
        margin: 10px 0; }
      body .content .section .writing-content .work p {
        font-family: "Roboto Condensed", "Helvetica", "sans-serif";
        font-weight: lighter;
        letter-spacing: 1px;
        text-align: left; }
    body .content .section .writing-content .game img {
      width: 250px;
      height: 110px;
      margin: 10px 0; }
    body .content .section .social {
      text-align: center;
      padding-inline-start: 0; }
      body .content .section .social li {
        border: 3px solid #F25DA0;
        margin: 0 10px;
        padding: 5px; }
      body .content .section .social .fa-twitter:before, body .content .section .social .fa-linkedin:before, body .content .section .social .fa-instagram:before {
        font-size: 3rem;
        color: #643A85; }
  @media (min-width: 768px) {
    body .content {
      border-right: 5px solid #DA3D7C;
      padding-right: 40px; }
      body .content .section {
        text-align: left; }
        body .content .section .intro-content {
          display: block;
          margin: 80px auto;
          width: 65%; }
          body .content .section .intro-content .headshot {
            width: 350px;
            height: 350px; }
        body .content .section .about-content {
          display: grid;
          grid-template-columns: repeat(2, 1fr); }
          body .content .section .about-content div {
            text-align: right;
            margin-right: 40px; }
            body .content .section .about-content div.headshot-container {
              margin: 0; }
          body .content .section .about-content .headshot {
            width: 275px;
            height: 350px; }
        body .content .section .writing-content h2, body .content .section .writing-content h4 {
          text-align: right; }
        body .content .section .writing-content .work img {
          width: 185px;
          height: 255px; }
        body .content .section .writing-content .work .summary-image {
          display: grid;
          grid-template-columns: 70% 30%; }
          body .content .section .writing-content .work .summary-image .image {
            text-align: right; }
        body .content .section .writing-content .game {
          text-align: center; }
          body .content .section .writing-content .game h3 {
            text-align: left; }
          body .content .section .writing-content .game img {
            width: 650px;
            height: 310px; } }
  body .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 47px;
    background-color: #643A85; }
    body .nav button {
      position: absolute;
      right: 0;
      width: 50px;
      height: 47px;
      cursor: pointer;
      color: white; }
    body .nav ul {
      display: none; }
      body .nav ul.open {
        display: block;
        width: 100%;
        position: absolute;
        top: 34px;
        padding: 0;
        background: white;
        overflow-y: scroll;
        overflow-x: hidden; }
        body .nav ul.open > li {
          height: auto;
          text-align: center;
          width: 100vw;
          margin: 20px 0;
          list-style-type: none; }
    @media (min-width: 768px) {
      body .nav {
        position: relative;
        display: block;
        background-color: white; }
        body .nav .nav-wrapper {
          display: block;
          position: fixed;
          list-style-type: none; }
        body .nav .mobile-nav-button {
          display: none; } }
  body .hide {
    display: none; }
