@import 'mixins/breakpoints.scss';
@import 'grid.scss';

$guide: 1px dashed cyan;

body {
    div {
        border: $guide;
    }
    .nav {
        position: fixed;
        top: 0;
        li {
            display: inline;
        } 
    }
}