@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import './mixins/breakpoints.scss';
@import './grid.scss';

$guide: 1px dashed cyan;

//FONTS
$serif: "Utopia", "Garamond", serif;
$sans-serif: "Roboto Condensed", "Helvetica", "sans-serif";

//COLORS
$pink: #F25DA0;
$darkpink: #DA3D7C;
$purple: #643A85;
$darkpurple: #3B1556;
$darkblue: #0B1A4B;

body {
    margin: 0;

    h1, h2 {
        font-family: $serif;
        font-size: 2.1rem;
        color: $darkpink;
        margin: 0 0 2px;

        @include breakpoint(small){
            font-size: 3.5rem;
        }
    }

    h3 {
        font-family: $sans-serif;
        font-weight: lighter;
        font-style: italic;
        letter-spacing: 2px;
        margin: 0;

        @include breakpoint(small) {
            font-size: 2.0rem;
        }
    }

    h4 {
        font-family: $serif;
        font-size: 1.5rem;
        color: $pink;
        margin: 0 0 40px;

        @include breakpoint(small) {
            font-size: 3.0rem;
        }

    }

    // FONT AWESOME ICONS
    .fa-bars {
        &:before {
            font-size: 2rem;
        }
    }

    .content {
        .section {
            text-align: center;
            margin: 0 0 40px;
            .intro-content {
                margin-top: 80px;
                .headshot {
                    width: 155px;
                    height: 155px;
                }
            }
            .about-content {
                .headshot {
                    width: 155px;
                    height: 200px;
                }
                p.tag {
                    font-family: $sans-serif;
                    font-size: 1.2rem;
                    font-weight: lighter;
                    letter-spacing: 2px;
                    margin: 0;
                }
            }
            .writing-content {
                h3 {
                    color: $darkpink;
                }
                .work {
                    margin-bottom: 60px;
                    img {
                        width: 155px;
                        height: 225px;
                        margin: 10px 0;
                    }
                    p {
                        font-family: $sans-serif;
                        font-weight: lighter;
                        letter-spacing: 1px;
                        text-align: left;
                    }
                }
                img {
                    width: 250px;
                    height: 110px;
                    margin: 10px 0;
                }
            }
            .social {
                text-align: center;
                padding-inline-start: 0;
                    li {
                        border: 3px solid $pink;
                        margin: 0 10px;
                        padding: 5px;
                }

                .fa-twitter:before, .fa-linkedin:before, .fa-instagram:before {
                    font-size: 3rem;
                    color: $purple;
                }
            }
        }

        @include breakpoint(small){
            border-right: 5px solid $darkpink;
            .section {
                text-align: left;
                .intro-content {
                    display: block;
                    margin: 80px auto;
                    width: 65%;
                    .headshot {
                        width: 200px;
                        height: 200px;
                    }
                }
                .about-content {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    div {
                        text-align: right;
                        margin-right: 40px;
                        &.headshot-container {
                            margin: 0;
                        }
                    }
                    .headshot {
                        width: 155px;
                        height: 200px;
                    }
                }
            }
        }
    }

    .nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 47px;
        background-color: $purple;

        button {
            position: absolute;
            right: 0;
            width: 50px;
            height: 47px;
            cursor: pointer;
            color: white;
        }
        ul {
            display: none;
            &.open {
                display: block;
                width: 100%;
                position: absolute;
                top: 34px;
                padding: 0;
                background: white;
                overflow-y: scroll;
                overflow-x: hidden;
                > li {
                    height: auto;
                    text-align: center;
                    width: 100vw;
                    margin: 20px 0;
                    list-style-type: none;
                }
            }
        }

        @include breakpoint(small) {
            position: relative;
            display: block;
            background-color: white;
            .nav-wrapper {
                display: block;
                position: fixed;
                list-style-type: none;
            }
            .mobile-nav-button {
                display: none;
            }
        }
    }

    .hide {
        display: none;
    }
}